<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="images/fav3.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>Next Fashion in Mars</title>
    <!-- Stylesheets & Fonts -->
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
      <!-- Header -->
      <header id="header" data-transparent="true" data-fullwidth="true" class="dark submenu-light">
          <div class="header-inner">
              <div class="container">
                  <!--Logo-->
                  <div id="logo">
                      <a href="../Template/midjourney.html">
                          <span class="logo-default">NEXT IN FASHION</span>
                          <span class="logo-dark">NEXT IN FASHION</span>
                      </a>
                  </div>
                  <!--End: Logo-->
                  <!--Navigation Resposnive Trigger-->
                  <div id="mainMenu-trigger">
                      <a class="lines-button x"><span class="lines"></span></a>
                  </div>
                  <!--end: Navigation Resposnive Trigger-->
                  <!--Navigation-->
                  <div id="mainMenu">
                      <div class="container">
                          <nav>
                              <ul>
                                  <li><a href="../Template/midjourney.html">Home</a></li>
                                  <li><a href="../Template/midjourney_fashion.html">Clothing</a></li>
                                  <li><a href="../Template/midjourney_acc.html">Accessory</a></li>
                                  <li><a href="../Template/midjourney_pet.html">Pet</a></li>
                              </ul>
                          </nav>
                      </div>
                  </div>
                  <!--END: NAVIGATION-->
              </div>
          </div>
      </header>
      <!-- end: Header -->
        <!-- Page title -->
        <section id="page-title" data-bg-parallax="images/store2.png">
            <div class="container">
                <div class="page-title">
                    <h1>Accessory</h1>
                    <span>Mars</span>
                </div>
            </div>
        </section>
        <!-- end: Page title -->
        <!-- Content -->
        <section id="page-content">
            <div class="container">
                <div class="heading-text heading-section">
                    <h2>Hat - Cover our olliy hair</h2>
                    <span class="lead">Good hats to wear when you're not washing your hair</span>
                </div>
            </div>
            <div class="container-fluid">
                <!-- Gallery -->
                <div class="grid-layout grid-5-columns" data-margin="20" data-item="grid-item" data-lightbox="gallery">
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/hat1.png" data-lightbox="gallery-image"><img src="images/hat1.png"></a>
                    </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/hat2.png" data-lightbox="gallery-image"><img src="images/hat2.png"></a>
                    </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/hat3.png" data-lightbox="gallery-image"><img src="images/hat3.png"></a>
                    </div>
                </div>
                <!-- end: Gallery -->
            </div>
        </section>
        <!-- end: Content -->

        <!-- Content -->
        <section id="page-content">
            <div class="container">
                <div class="heading-text heading-section">
                    <h2>Earrings</h2>
                    <span class="lead">Earrings that make your face look smaller</span>
                </div>
            </div>
            <div class="container-fluid">
                <!-- Gallery -->
                <div class="grid-layout grid-5-columns" data-margin="20" data-item="grid-item" data-lightbox="gallery">
                  <div class="grid-item">
                      <a class="image-hover-zoom" href="images/earing1.png" data-lightbox="gallery-image"><img src="images/earing1.png"></a>
                  </div>
                  <div class="grid-item">
                      <a class="image-hover-zoom" href="images/earing2.png" data-lightbox="gallery-image"><img src="images/earing2.png"></a>
                  </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/earing3.png" data-lightbox="gallery-image"><img src="images/earing3.png"></a>
                    </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/earing4.png" data-lightbox="gallery-image"><img src="images/earing4.png"></a>
                    </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/earing5.png" data-lightbox="gallery-image"><img src="images/earing5.png"></a>
                    </div>
                </div>
                <!-- end: Gallery -->
            </div>
        </section>
        <!-- end: Content -->

        <!-- Content -->
        <section id="page-content">
            <div class="container">
                <div class="heading-text heading-section">
                    <h2>Bags</h2>
                    <span class="lead">Usable bags & Prada etc.</span>
                </div>
            </div>
            <div class="container-fluid">
                <!-- Gallery -->
                <div class="grid-layout grid-5-columns" data-margin="20" data-item="grid-item" data-lightbox="gallery">
                  <div class="grid-item">
                      <a class="image-hover-zoom" href="images/bag1.png" data-lightbox="gallery-image"><img src="images/bag1.png"></a>
                  </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/bag2.png" data-lightbox="gallery-image"><img src="images/bag2.png"></a>
                    </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/bag3.png" data-lightbox="gallery-image"><img src="images/bag3.png"></a>
                    </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/air1.png" data-lightbox="gallery-image"><img src="images/air1.png"></a>
                    </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/air2.png" data-lightbox="gallery-image"><img src="images/air2.png"></a>
                    </div>
                </div>
                <!-- end: Gallery -->
            </div>
        </section>
        <!-- end: Content -->

        <!-- Content -->
        <section id="page-content">
            <div class="container">
                <div class="heading-text heading-section">
                    <h2>Eyewears</h2>
                    <span class="lead">Sunglasses & Smart glasses</span>
                </div>
            </div>
            <div class="container-fluid">
                <!-- Gallery -->
                <div class="grid-layout grid-5-columns" data-margin="20" data-item="grid-item" data-lightbox="gallery">
                  <div class="grid-item">
                      <a class="image-hover-zoom" href="images/sung1.png" data-lightbox="gallery-image"><img src="images/sung1.png"></a>
                  </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/sung2.png" data-lightbox="gallery-image"><img src="images/sung2.png"></a>
                    </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/sung3.png" data-lightbox="gallery-image"><img src="images/sung3.png"></a>
                    </div>
                </div>
                <!-- end: Gallery -->
            </div>
        </section>
        <!-- end: Content -->

        <!-- Content -->
        <section id="page-content">
            <div class="container">
                <div class="heading-text heading-section">
                    <h2>Footwear</h2>
                    <span class="lead">Sneakers & Boots</span>
                </div>
            </div>
            <div class="container-fluid">
                <!-- Gallery -->
                <div class="grid-layout grid-5-columns" data-margin="20" data-item="grid-item" data-lightbox="gallery">
                  <div class="grid-item">
                      <a class="image-hover-zoom" href="images/shoes1.png" data-lightbox="gallery-image"><img src="images/shoes1.png"></a>
                  </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/shoes2.png" data-lightbox="gallery-image"><img src="images/shoes2.png"></a>
                    </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/shoes3.png" data-lightbox="gallery-image"><img src="images/shoes3.png"></a>
                    </div>
                </div>
                <!-- end: Gallery -->
            </div>
        </section>
        <!-- end: Content -->

        <div class="call-to-action cta-center">
                    <div class="col-lg-10">
                        <h3>Pet supplies</h3>
                        <p>Clothes that will keep your pet safe.</p>
                    </div>
                    <div class="col-lg-2">
                        <a class="btn btn-primary" href="../Template/midjourney_pet.html">pet</a> </div>
        </div>

        <!-- Footer -->
        <footer id="footer">
            <div class="copyright-content">
                <div class="container">
                    <div class="copyright-text text-center">All Rights Reserved. Hyeseung. </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <!--Template functions-->
    <script src="js/functions.js"></script>
</body>

</html>
