<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="images/fav3.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>Next Fashion in Mars</title>
    <!-- Stylesheets & Fonts -->
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
      <!-- Header -->
      <header id="header" data-transparent="true" data-fullwidth="true" class="dark submenu-light">
          <div class="header-inner">
              <div class="container">
                  <!--Logo-->
                  <div id="logo">
                      <a href="../Template/midjourney.html">
                          <span class="logo-default">NEXT IN FASHION</span>
                          <span class="logo-dark">NEXT IN FASHION</span>
                      </a>
                  </div>
                  <!--End: Logo-->
                  <!--Navigation Resposnive Trigger-->
                  <div id="mainMenu-trigger">
                      <a class="lines-button x"><span class="lines"></span></a>
                  </div>
                  <!--end: Navigation Resposnive Trigger-->
                  <!--Navigation-->
                  <div id="mainMenu">
                      <div class="container">
                          <nav>
                              <ul>
                                  <li><a href="../Template/midjourney.html">Home</a></li>
                                  <li><a href="../Template/midjourney_fashion.html">Clothing</a></li>
                                  <li><a href="../Template/midjourney_acc.html">Accessory</a></li>
                                  <li><a href="../Template/midjourney_pet.html">Pet</a></li>
                              </ul>
                          </nav>
                      </div>
                  </div>
                  <!--END: NAVIGATION-->
              </div>
          </div>
      </header>
      <!-- end: Header -->
        <!-- Page title -->
        <section id="page-title" data-bg-parallax="images/parallax/5.jpg">
            <div class="container">
                <div class="page-title">
                    <h1>Clothing</h1>
                    <span>Mars</span>
                </div>
            </div>
        </section>
        <!-- end: Page title -->
        <!-- Content -->
        <section id="page-content">
            <div class="container">
                <div class="heading-text heading-section">
                    <h2>Protective Clothing</h2>
                    <span class="lead">Radiation protective clothing & Dustproof clothing</span>
                </div>
            </div>
            <div class="container-fluid">
                <!-- Gallery -->
                <div class="grid-layout grid-5-columns" data-margin="20" data-item="grid-item" data-lightbox="gallery">
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/look1.png" data-lightbox="gallery-image"><img src="images/look1.png"></a>
                    </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/fashion1.png" data-lightbox="gallery-image"><img src="images/fashion1.png"></a>
                    </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/fashion2.png" data-lightbox="gallery-image"><img src="images/fashion2.png"></a>
                    </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/fashion3.png" data-lightbox="gallery-image"><img src="images/fashion3.png"></a>
                    </div>
                </div>
                <!-- end: Gallery -->
            </div>
        </section>
        <!-- end: Content -->

        <!-- Content -->
        <section id="page-content">
            <div class="container">
                <div class="heading-text heading-section">
                    <h2>Classic Clothing(?)</h2>
                    <span class="lead">Classic Clothing & Party Dress & Suit</span>
                </div>
            </div>
            <div class="container-fluid">
                <!-- Gallery -->
                <div class="grid-layout grid-5-columns" data-margin="20" data-item="grid-item" data-lightbox="gallery">
                  <div class="grid-item">
                      <a class="image-hover-zoom" href="images/fashion4_1.png" data-lightbox="gallery-image"><img src="images/fashion4_1.png"></a>
                  </div>
                  <div class="grid-item">
                      <a class="image-hover-zoom" href="images/fashion4_2.png" data-lightbox="gallery-image"><img src="images/fashion4_2.png"></a>
                  </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/fashion4.png" data-lightbox="gallery-image"><img src="images/fashion4.png"></a>
                    </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/fashion5.png" data-lightbox="gallery-image"><img src="images/fashion5.png"></a>
                    </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/fashion6.png" data-lightbox="gallery-image"><img src="images/fashion6.png"></a>
                    </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/fashion7.png" data-lightbox="gallery-image"><img src="images/fashion7.png"></a>
                    </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/fashion8.png" data-lightbox="gallery-image"><img src="images/fashion8.png"></a>
                    </div>
                </div>
                <!-- end: Gallery -->
            </div>
        </section>
        <!-- end: Content -->

        <!-- Content -->
        <section id="page-content">
            <div class="container">
                <div class="heading-text heading-section">
                    <h2>Swim Suit</h2>
                    <span class="lead">Enjoy swimming in Mars Resort</span>
                </div>
            </div>
            <div class="container-fluid">
                <!-- Gallery -->
                <div class="grid-layout grid-5-columns" data-margin="20" data-item="grid-item" data-lightbox="gallery">
                  <div class="grid-item">
                      <a class="image-hover-zoom" href="images/fashion9.png" data-lightbox="gallery-image"><img src="images/fashion9.png"></a>
                  </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/fashion10.png" data-lightbox="gallery-image"><img src="images/fashion10.png"></a>
                    </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/fashion11.png" data-lightbox="gallery-image"><img src="images/fashion11.png"></a>
                    </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/fashion12.png" data-lightbox="gallery-image"><img src="images/fashion12.png"></a>
                    </div>
                    <div class="grid-item">
                        <a class="image-hover-zoom" href="images/fashion13.png" data-lightbox="gallery-image"><img src="images/fashion13.png"></a>
                    </div>
                </div>
                <!-- end: Gallery -->
            </div>
        </section>
        <!-- end: Content -->

        <!-- Footer -->
        <footer id="footer">
            <div class="copyright-content">
                <div class="container">
                    <div class="copyright-text text-center">All Rights Reserved. Hyeseung.</div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <!--Template functions-->
    <script src="js/functions.js"></script>
</body>

</html>
