<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="images/fav3.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>Next Fashion in Mars</title>
    <!-- Stylesheets & Fonts -->
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
      <!-- Header -->
      <header id="header" data-transparent="true" data-fullwidth="true" class="dark submenu-light">
          <div class="header-inner">
              <div class="container">
                  <!--Logo-->
                  <div id="logo">
                      <a href="../Template/midjourney.html">
                          <span class="logo-default">NEXT IN FASHION</span>
                          <span class="logo-dark">NEXT IN FASHION</span>
                      </a>
                  </div>
                  <!--End: Logo-->
                  <!--Navigation Resposnive Trigger-->
                  <div id="mainMenu-trigger">
                      <a class="lines-button x"><span class="lines"></span></a>
                  </div>
                  <!--end: Navigation Resposnive Trigger-->
                  <!--Navigation-->
                  <div id="mainMenu">
                      <div class="container">
                          <nav>
                              <ul>
                                  <li><a href="../Template/midjourney.html">Home</a></li>
                                  <li><a href="../Template/midjourney_fashion.html">Clothing</a></li>
                                  <li><a href="../Template/midjourney_acc.html">Accessory</a></li>
                                  <li><a href="../Template/midjourney_pet.html">Pet</a></li>
                              </ul>
                          </nav>
                      </div>
                  </div>
                  <!--END: NAVIGATION-->
              </div>
          </div>
      </header>
      <!-- end: Header -->
        <!-- Inspiro Slider -->
        <div id="slider" class="inspiro-slider slider-fullscreen" data-height-xs="360">
            <!-- Slide 1 -->
            <div class="slide" style="background-image:url('images/petm.png');">
                <div class="bg-overlay"></div>
                <div class="container">
                    <div class="slide-captions text-left">
                        <!-- Captions -->
                        <div class="text-light" data-animate="fadeInUp">
                            <h1>Perfect fit</h1>
                            <h1>for your pet</h1>
                            <p class="lead">Try on</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: Slide 1 -->
        </div>
        <!--end: Inspiro Slider -->
        <!-- Content -->
        <section id="page-content" class="p-b-0 p-t-60">
            <div class="container">
              
                <hr class="space">
                <div class="col-lg-10 center">
                    <div class="carousel carousel-promotion m-b-40" data-items="1" data-margin="40" data-loop="true" data-autoplay="true">
                        <div class="portfolio-item img-zoom">
                            <div class="portfolio-item-wrap">
                                <div class="portfolio-image">
                                    <a href="#"><img src="images/pet1.png" alt=""></a>
                                </div>
                                <div class="portfolio-description">
                                    <a title="우주비행사" data-lightbox="image" href="images/pet1.png" class="btn btn-light btn-roundeded">Zoom</a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-item img-zoom">
                            <div class="portfolio-item-wrap">
                                <div class="portfolio-image">
                                    <a href="#"><img src="images/pet2.png" alt=""></a>
                                </div>
                                <div class="portfolio-description">
                                    <a title="우주비행사" data-lightbox="image" href="images/pet2.png" class="btn btn-light btn-roundeded">Zoom</a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-item img-zoom">
                            <div class="portfolio-item-wrap">
                                <div class="portfolio-image">
                                    <a href="#"><img src="images/pet3.png" alt=""></a>
                                </div>
                                <div class="portfolio-description">
                                    <a title="우주비행사" data-lightbox="image" href="images/pet3.png" class="btn btn-light btn-roundeded">Zoom</a>
                                </div>
                            </div>
                        </div>
                        <div class="portfolio-item img-zoom">
                            <div class="portfolio-item-wrap">
                                <div class="portfolio-image">
                                    <a href="#"><img src="images/pet4.png" alt=""></a>
                                </div>
                                <div class="portfolio-description">
                                    <a title="우주비행사" data-lightbox="image" href="images/pet4.png" class="btn btn-light btn-roundeded">Zoom</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: Content -->
        <!-- Footer -->
        <footer id="footer">
            <div class="copyright-content">
                <div class="container">
                    <div class="copyright-text text-center">All Rights Reserved. Hyeseung. </div>
                </div>
            </div>
        </footer>
        <!-- end: Footer -->
    </div>
    <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <!--Template functions-->
    <script src="js/functions.js"></script>
</body>

</html>
